
<div class="home-banner">
  <h1> Mix it up</h1>
</div>

<div class="container">
  <h2>Cocktails Galore, which will be your next drink? Have a look below!</h2>

  <div class= "card">
  <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
      <% if cocktail.photo.attached? %>
        <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag "cocktail-glass-blank.jpg", alt: "empty cocktail glass", height: 300, width: 400, crop: :fill  %>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "Create a new Cocktail", new_cocktail_path(@cocktail_id) %>

<!-- #grid template columns look for this! says julio! -->
