
<div class="home-banner">
  <h1> Mix it up</h1>
</div>

<div class="container">
  <h2>Cocktails Galore, which will be your next drink? Have a look below!</h2>

  <div class= "card">
    <ul>
      <% @cocktails.each do |cocktail| %>
        <li>
          <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
      <% end %>
        </li>
    </ul>
  </div>
</div>

<% @cocktails.first.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
