<h2><%= @cocktail.name %></h2>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt animi a illum maiores quidem. Id, aliquid unde laborum deleniti quae numquam quo exercitationem veniam soluta corporis quasi ad architecto mollitia.</p>
