.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

// a:link, a:visited {
// background-color: #f44336;
// color: white;
// padding: 14px 25px;
// text-align: center;
// text-decoration: none;
// display: inline-block;
//     border-radius: 3px;
// }

// a:hover, a:active {
//   background-color: red;
// }

// .button_to:link, button_to:visited{
// background-color: #f44336;
// color: white;
// padding: 14px 25px;
// text-align: center;
// text-decoration: none;
// display: inline-block;
//     border-radius: 3px;
// }

// button_to:hover, button_to:active {
//   background-color: #f44336;
// }
