$blue: #012e7f;

.home-banner {
  background-image: asset-url('cocktail_banner.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;

  h1 {
    font-size: 130px;
    vertical-align: top;
    position:relative;
    top:-250px;
    font-family: 'Sacramento', cursive;
    color: #eee;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

    h2 {

      text-align: center;
      font-family: 'Sacramento', cursive;
      color: $white;
      position:relative;
      top:272px;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}



body{
  background-color: $blue;
}
