$blue: #012e7f;
$white: #eee;

.container-show{
width: 500px;
margin: 10px auto;
h2{
text-align: center;
font-family: 'Sacramento', cursive;
    color: $white;
}
}

.button_to{
  background-color: #f44336;
  align-self:center;
  margin: auto;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 3px;
  :hover {
    background-color: #f44336;
  }
}

.doses-list{
text-align: center;
font-family: 'Sacramento', cursive;
    color: $white;
}

.card-2{
text-align: center;
font-family: 'Sacramento', cursive;
    color: $white;
}

.dose{

  font-family: 'Sacramento', cursive;
  color: $white;
}

.footer-2{
  text-align: center;
  font-family: 'Sacramento', cursive;
    color: $white;
}


.text-measurement{
  padding: 20px;
  text-align: center;
  font-family: 'Sacramento', cursive;
    color: $white;

}

.delete{
text-align: center;
font-family: 'Sacramento', cursive;
    color: $white;
}


.cocktail-img{
text-align: center;
}

// }
// .ingredients-list{

//   ul {
//     list-style-type:none;
//     color: white;
//     font-family: 'Sacramento', cursive;
//   }
// }




.container{
  h2{
    padding: 20px;
    margin: 20px;
    font-family: 'Sacramento', cursive;
    color: $white;
  }
}

.cards{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  align-items: center;
  width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  padding-top: 100px;
  padding-bottom:100px;
  font-family: 'Sacramento', cursive;
  :hover{
    text-decoration:none;
     border-color: white;
  }
}

.text-center{
  text-align: center;
}

.card{
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  width: 310px;
  height: 360px;
  text-align: center;
  padding: 10px;
  border-color: #FC7905;
  border-width: thin;
  font-family: 'Sacramento', cursive;

  h3{

    display: block;
    font-weight: bold;
    font-family: 'Sacramento', cursive;
    color: $white;
  }
}

.create-card{

}

.footer{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
  margin: auto;

  h4{
    font-family: 'Sacramento', cursive;
    color: $white;
  }
}

.create-cocktail{
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;

  a:hover, a:active {
    background-color: red;
    text-decoration:none;
  }
}


